.footer {
  background-color: rgb(5, 44, 101);
  border-radius: 22px 22px 0px 0px;

  &__logo {
    img {
      height: 200px;
      width: 200px;
    }
  }
  &__links {
    display: inline-block;
    padding: 1rem 0rem 0rem 1.125rem;
    list-style: none;
    position: relative;

    &::before {
      content: "";
      background-color: rgba(172, 207, 255, 0.2);
      position: absolute;
      width: 5px;
      height: 80%;
      top: 25px;
      left: -10px;
    }
    li {
      a {
        color: $text_on_primary;
        line-height: 1.8;

        &:hover {
          color: $secondary_color;
        }
      }
    }
  }
  &__buttons {
    .subscribe {
      margin-bottom: 1.5rem;
      h6 {
        color: $text_on_primary;
        margin-bottom: 1rem;
      }
      label {
        color: #fff;
        opacity: 0.4;
      }

      input[type="email"] {
        height: 40px;
        width: 250px;
        background-color: $text_on_primary;
        padding: $button-padding;
        color: $text_on_primary-light;
        outline: none;
      }
      input[type="submit"] {
        height: 40px;
        width: 120px;
        background-color: $primary-button;
        font-size: $font_size_button;
        font-weight: 700;
      }
    }

    .social-icons {
      display: flex;
      h6 {
        color: $text_on_primary;
      }
      a {
        color: $text_on_primary;
        i {
          font-size: 1.5rem;
          margin: 0 0.5rem 0 0.4rem;
        }
      }
    }
  }
  .copyright {
    grid-column: 1/4;
    text-align: end;
    font-size: 0.8rem;
    padding: 0rem 1.125rem 1.125rem 0rem;
    color: $text_on_primary;
    opacity: 0.7;
  }
}
