.navbar {
  padding: $padding-default;
  background: rgb(5, 44, 101);
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 22px 22px;
  max-width: 100vw;
  min-height: 10vh;

  &__list {
    display: flex;
    justify-self: center;
    align-self: center;
    i {
      display: none;
      font-size: $font_size_h6;
      position: absolute;
      top: 20px;
      right: 30px;
      color: $text_on_primary;
      cursor: pointer;
    }
  }

  &__links {
    .togglemenu {
      color: $text_on_primary;
      font-size: $font_size_h6;
      display: none;
      cursor: pointer;
      position: absolute;
      top: 25px;
      right: 30px;
    }
  }
  &__items {
    a {
      margin-left: 1.75rem;
      font-weight: 400;
      color: $text_on_primary;
      font-size: $font_size_body1;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 2px solid $secondary_color;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease-in;
      }
      // &.active {
      //   border-bottom: 2px solid $secondary_color;
      // }

      &:hover::after {
        transform: scale(1);
      }
    }
  }
  &__donate {
    display: inline-block;
    a {
      button {
        padding: $button-padding;
        box-shadow: 3px 6px 7px #763927;
        transition: 0.3s 0 linear;

        &:hover {
          background-color: $secondary_color_dark;
        }
      }
    }
  }
}
