@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600&family=Mulish:wght@300;400;500;600&family=Trirong:wght@300;400;500;600&display=swap");
.slider {
  height: 100vh;
  overflow: hidden;
}

.slider .swiper-container {
  height: auto;
  width: 100%;
}

.slider .swiper-container .swiper-wrapper .swiper-slide .bg {
  max-height: 100vh;
  height: auto;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider .swiper-container .swiper-wrapper .swiper-slide .bg .bg-shadow {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
}

.slider__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__content {
  z-index: 19;
  position: absolute;
  top: 40%;
  left: 8%;
}

.slider__content h2 {
  color: #fff;
  margin-bottom: 0.8rem;
}

.slider__content h6 {
  color: #fff;
  margin-bottom: 1.5rem;
}

.slider__content a {
  color: #fff;
  background: #f8184e;
  padding: 0.625rem;
  line-height: 2rem;
  border-radius: 0.625rem;
}

.slider__icons {
  position: absolute;
  z-index: 100;
  left: 8%;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__icons h5 {
  color: #fff;
}

.slider__icons i {
  font-size: 1.5rem;
  color: #fff;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  max-width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
      grid-template-areas: 'navbar';
  position: relative;
}

.container-grid_show {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 10vh auto auto;
      grid-template-rows: 10vh auto auto;
      grid-template-areas: 'navbar''about-us' 'footer';
}

.programs-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 10vh auto auto;
      grid-template-rows: 10vh auto auto;
      grid-template-areas: 'navbar''programs_info' 'footer';
}

.container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 10vh auto auto;
      grid-template-rows: 10vh auto auto;
      grid-template-areas: 'navbar' 'programs' 'footer';
}

.class-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 10vh auto auto;
      grid-template-rows: 10vh auto auto;
      grid-template-areas: 'navbar' 'classes' 'footer';
}

.contact-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 10vh auto auto auto;
      grid-template-rows: 10vh auto auto auto;
      grid-template-areas: 'navbar' 'contacts' 'map'  'footer';
}

.navbar {
  position: relative;
  height: 70px;
  z-index: 20;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navbar;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr;
      grid-template-columns: 2fr 5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'logo navlink';
  grid-column-gap: 5.25rem;
}

.navbar__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  justify-self: left;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: navlink;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar__donate {
  grid-area: donation;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slider {
  grid-area: slider;
  height: 100vh;
  width: 100%;
  position: absolute;
}

.about-us {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: about-us;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.8fr 1fr 1fr;
      grid-template-rows: 0.8fr 1fr 1fr;
      grid-template-areas: 'about-us__intro' 'about-us__vision' 'about-us__mission';
  max-width: 100vw;
}

.about-us__intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about-us__intro;
}

.about-us__vision {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: about-us__vision;
}

.about-us__mission {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: about-us__mission;
}

.programs {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: programs;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows:  (minmax(250px,1fr))[autofit];
      grid-template-rows:  repeat(autofit,minmax(250px,1fr));
  max-width: 100vw;
  row-gap: 2rem;
}

.classes {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: classes;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 75px 1fr ;
      grid-template-rows: 75px 1fr ;
      grid-template-areas: 'classes__intro' 'tables';
  max-width: 100vw;
}

.classes__intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: classes__intro;
  -ms-grid-column-align: center;
      justify-self: center;
}

.classes__tables {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tables;
  -ms-grid-column-align: center;
      justify-self: center;
}

.contacts {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contacts;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 75px 1fr;
      grid-template-rows: 75px 1fr;
      grid-template-areas: 'contacts__intro' 'contacts__form' ;
  max-width: 100vw;
}

.contacts__intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contacts__intro;
  -ms-grid-column-align: center;
      justify-self: center;
}

.contacts__form {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contacts__form;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'contacts__form__one contacts__form__two';
}

.contacts__form__one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contacts__form__one;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contacts__form__two {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contacts__form__two;
  -ms-grid-column-align: end;
      justify-self: end;
}

.map {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: map;
}

.programs_info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: programs_info;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 75px 1fr auto;
      grid-template-rows: 75px 1fr auto;
      grid-template-areas: 'programs_info__intro' 'programs_info__image' 'programs_info__description';
  max-width: 100vw;
}

.programs_info__intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: programs_info__intro;
}

.programs_info__image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: programs_info__image;
}

.programs_info__description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: programs_info__description;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'footer__logo footer__links footer__buttons';
  -webkit-column-gap: 4.688rem;
          column-gap: 4.688rem;
  max-width: 100vw;
}

.footer__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footer__logo;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__links {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: footer__links;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__buttons {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: footer__buttons;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='date'],
input[type='time'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0px;
  outline: none;
  border-radius: 0.4375rem;
  color: #fff;
  background-color: #2a4a77;
}

input[type='text']:focus,
input[type='tel']:focus,
input[type='email']:focus,
input[type='search']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='time']:focus,
textarea:focus {
  border: 1px solid #000;
}

input[type='text']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
input[type='date']::-webkit-input-placeholder,
input[type='time']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #4b4b4b;
}

input[type='text']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='search']::-moz-placeholder,
input[type='password']::-moz-placeholder,
input[type='date']::-moz-placeholder,
input[type='time']::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #4b4b4b;
}

input[type='text']:-moz-placeholder,
input[type='tel']:-moz-placeholder,
input[type='email']:-moz-placeholder,
input[type='search']:-moz-placeholder,
input[type='password']:-moz-placeholder,
input[type='date']:-moz-placeholder,
input[type='time']:-moz-placeholder,
textarea:-moz-placeholder {
  color: #4b4b4b;
}

input[type='text']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
input[type='date']:-ms-input-placeholder,
input[type='time']:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #4b4b4b;
}

input[type='text'].placeholder,
input[type='tel'].placeholder,
input[type='email'].placeholder,
input[type='search'].placeholder,
input[type='password'].placeholder,
input[type='date'].placeholder,
input[type='time'].placeholder,
textarea.placeholder {
  color: #4b4b4b;
}

select {
  -webkit-border-radius: 0;
  border: 0px;
  outline: none;
  border-radius: 0.4375rem;
  color: #fff;
  background-color: #2a4a77;
}

textarea {
  resize: vertical;
  vertical-align: top;
  border: 0px;
  outline: none;
  border-radius: 0.4375rem;
  color: #fff;
  background-color: #2a4a77;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0.625rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.625rem;
  background-color: #f8184e;
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.subtitle,
.subtitle2,
.button,
.caption,
.overline,
.h {
  font-family: "Mulish", sans-serif;
}

h1, .h1 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -0.09375rem;
}

h2, .h2 {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.03125rem;
}

h3, .h3 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0rem;
}

h4, .h4 {
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: 0.015625rem;
}

h5, .h5 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0rem;
}

h6, .h6 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.009375rem;
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.009375rem;
}

.subtitle2 {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.00625rem;
}

body, .body {
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03125rem;
}

.body2 {
  font-family: "Heebo", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.015625rem;
}

button, .button {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.078125rem;
  text-transform: capitalize;
}

.caption {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
}

.overline {
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 0.09375rem;
  text-transform: capitalize;
}

.logo__pic {
  height: auto;
  width: 100px;
  opacity: 1;
}

.navbar {
  padding: 0rem 3.75rem;
  background: #052c65;
  -webkit-box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 22px 22px;
  max-width: 100vw;
  min-height: 10vh;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.navbar__list i {
  display: none;
  font-size: 1.25rem;
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  cursor: pointer;
}

.navbar__links .togglemenu {
  color: #fff;
  font-size: 1.25rem;
  display: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 30px;
}

.navbar__items a {
  margin-left: 1.75rem;
  font-weight: 400;
  color: #fff;
  font-size: 1rem;
  position: relative;
}

.navbar__items a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #f8184e;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.navbar__items a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navbar__donate {
  display: inline-block;
}

.navbar__donate a button {
  padding: 0.625rem;
  -webkit-box-shadow: 3px 6px 7px #763927;
          box-shadow: 3px 6px 7px #763927;
  -webkit-transition: 0.3s 0 linear;
  transition: 0.3s 0 linear;
}

.navbar__donate a button:hover {
  background-color: #bd0027;
}

.footer {
  background-color: #052c65;
  border-radius: 22px 22px 0px 0px;
}

.footer__logo img {
  height: 200px;
  width: 200px;
}

.footer__links {
  display: inline-block;
  padding: 1rem 0rem 0rem 1.125rem;
  list-style: none;
  position: relative;
}

.footer__links::before {
  content: "";
  background-color: rgba(172, 207, 255, 0.2);
  position: absolute;
  width: 5px;
  height: 80%;
  top: 25px;
  left: -10px;
}

.footer__links a {
  color: #fff;
  line-height: 1.8;
}

.footer__buttons .subscribe {
  margin-bottom: 1.5rem;
}

.footer__buttons .subscribe h6 {
  color: #fff;
  margin-bottom: 1rem;
}

.footer__buttons .subscribe label {
  color: #fff;
  opacity: 0.4;
}

.footer__buttons .subscribe input[type="email"] {
  height: 40px;
  width: 250px;
  background-color: #fff;
  padding: 0.625rem;
  color: #000;
  outline: none;
}

.footer__buttons .subscribe input[type="submit"] {
  height: 40px;
  width: 120px;
  background-color: #ff7b54;
  font-size: 0.875rem;
  font-weight: 700;
}

.footer__buttons .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__buttons .social-icons h6 {
  color: #fff;
}

.footer__buttons .social-icons a {
  color: #fff;
}

.footer__buttons .social-icons a i {
  font-size: 1.5rem;
  margin: 0 0.5rem 0 0.4rem;
}

.footer .copyright {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  text-align: end;
  font-size: 0.8rem;
  padding: 0rem 1.125rem 1.125rem 0rem;
  color: #fff;
  opacity: 0.7;
}

.about-us {
  padding: 6.375rem 14.5rem 3.688rem 15.188rem;
}

.about-us__intro h4 {
  text-align: center;
  margin-bottom: 2.25rem;
  font-family: "Mulish", sans-serif;
}

.about-us__intro h4 span {
  border-bottom: 4px solid #f8184e;
}

.about-us__intro p {
  font-size: 1rem;
  margin-bottom: 2.25rem;
  line-height: 1.6rem;
  font-family: "Heebo", sans-serif;
  font-weight: 300;
}

.about-us__vision {
  width: 1fr;
  height: 1fr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about-us__vision .img {
  height: 300px;
  width: 50%;
  margin-bottom: 3.75rem;
}

.about-us__vision .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2.188rem;
}

.about-us__vision .vision-content {
  margin-left: 5.313rem;
  font-size: 1rem;
  line-height: 1.6rem;
  width: 50%;
}

.about-us__vision .vision-content h4 {
  font-family: "Mulish", sans-serif;
  color: #f8184e;
  text-align: center;
  margin-bottom: 1rem;
}

.about-us__vision .vision-content p {
  font-weight: 300;
  width: 56ch;
}

.about-us__mission {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about-us__mission .img {
  height: 300px;
  width: 50%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.about-us__mission .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2.188rem;
}

.about-us__mission .mission-content {
  width: 50%;
  margin-right: 5.313rem;
  line-height: 1.6rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about-us__mission .mission-content h4 {
  text-align: center;
  font-family: "Mulish", sans-serif;
  color: #f8184e;
  margin-bottom: 1rem;
}

.about-us__mission .mission-content p {
  width: 56ch;
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.contacts {
  padding: 4.563rem 6.688rem 0 6.375rem;
  font-family: "Heebo", sans-serif;
}

.contacts__intro h4 {
  text-align: center;
  margin-bottom: 2.25rem;
}

.contacts__intro h4 span {
  border-bottom: 4px solid #f8184e;
}

.contacts__form .contacts__form__one {
  width: 50%;
}

.contacts__form .contacts__form__one h6.title {
  font-size: 1.5rem;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 0.875rem;
  text-align: start;
}

.contacts__form .contacts__form__one .infos {
  border-radius: 22px;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  padding: 4.1rem 3rem 9rem 3rem;
  background-color: #fdfafa;
}

.contacts__form .contacts__form__one .infos i {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

.contacts__form .contacts__form__one .infos span {
  font-size: 1rem;
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: 500;
  padding-left: 0.5rem;
}

.contacts__form .contacts__form__one .infos .email,
.contacts__form .contacts__form__one .infos .location,
.contacts__form .contacts__form__one .infos .phone {
  margin-bottom: 1.5rem;
}

.contacts__form .contacts__form__one .infos .follow {
  margin-top: 2rem;
  text-align: center;
}

.contacts__form .contacts__form__one .infos .follow h6 {
  font-size: 1.25rem;
  margin-bottom: 0.4rem;
}

.contacts__form .contacts__form__one .infos .follow .fab {
  margin-right: 0.688rem;
  margin-top: 0.5rem;
}

.contacts__form .contacts__form__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.contacts__form .contacts__form__two h6 {
  font-size: 1.5rem;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 0.875rem;
  text-align: start;
}

.contacts__form .contacts__form__two form {
  height: auto;
  border-radius: 22px;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  padding: 1rem 2.5rem 3.7rem 2.5rem;
  width: 70%;
  background-color: #fdfafa;
}

.contacts__form .contacts__form__two form label {
  font-size: 1rem;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
}

.contacts__form .contacts__form__two form input[type="text"],
.contacts__form .contacts__form__two form input[type="email"] {
  height: 40px;
  width: 100%;
  background-color: #e8edf3;
}

.contacts__form .contacts__form__two form textarea {
  height: 100px;
  width: 100%;
  background-color: #e8edf3;
}

.contacts__form .contacts__form__two form input[type="submit"] {
  height: 40px;
  width: 100px;
  float: right;
  background-color: #ff7b54;
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Heebo", sans-serif;
}

.map {
  height: 350px;
  width: 100%;
  background-color: #2a4a77;
  z-index: -1;
  position: relative;
  top: -20px;
}

.programs {
  padding: 6.375rem 14.5rem 3.688rem 15.188rem;
}

.programs__intro h4 {
  text-align: center;
  margin-bottom: 2.25rem;
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
}

.programs__intro h4 span {
  border-bottom: 4px solid #f8184e;
}

.programs__tour {
  width: 1fr;
  height: 1fr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.programs__tour:nth-child(odd) .img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.programs__tour:nth-child(odd) .tour-content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 3.938rem;
  margin-left: 0;
}

.programs__tour .img {
  height: 300px;
  width: 50%;
  margin-bottom: 3.75rem;
}

.programs__tour .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2.188rem;
}

.programs__tour .tour-content {
  height: auto;
  margin-left: 3.938rem;
  width: 50%;
  line-height: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.programs__tour .tour-content h5 {
  padding-bottom: 0.625rem;
  color: #f8184e;
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.programs__tour .tour-content p {
  font-weight: 300;
  width: 56ch;
  font-size: 1rem;
  margin-bottom: 1.25rem;
  font-family: "Heebo", sans-serif;
}

.programs__tour .tour-content a {
  font-size: 1.25rem;
  background-color: #f8184e;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.625rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.programs_info {
  padding: 6.375rem 10rem 3.688rem 10rem;
}

.programs_info__intro h4 {
  text-align: center;
  margin-bottom: 2.25rem;
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
}

.programs_info__intro h4 span {
  border-bottom: 4px solid #f8184e;
}

.programs_info__image {
  height: 300px;
  width: 100%;
  margin-bottom: 2rem;
}

.programs_info__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.programs_info__description {
  height: auto;
  width: 100%;
}

.programs_info__description p {
  font-weight: "Heebo", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}

.classes {
  padding: 4.813rem 4.625rem;
}

.classes__intro h4 {
  text-align: center;
}

.classes__intro h4 span {
  border-bottom: 4px solid #f8184e;
}

.classes__tables {
  display: table;
  height: auto;
  width: 100%;
  text-align: center;
  line-height: 3;
}

.classes__tables__th {
  display: table-header-group;
}

.classes__tables__tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2px;
}

.classes__tables__td {
  display: table-cell;
}

.classes__tables__tr:nth-child(odd):not(:first-child) {
  background-color: #d2f1ff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 5px;
}

.table__tr-color {
  background-color: #9cd8f3;
}

.donation {
  margin-top: 5rem;
}

.donation__intro h4 {
  text-align: center;
  margin-bottom: 2.25rem;
  font-family: "Mulish", sans-serif;
}

.donation__intro h4 span {
  border-bottom: 4px solid #f8184e;
}

.donation__image img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.donation__container {
  margin-bottom: 4rem;
}

.donation__container h6 {
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  font-weight: 400;
  -ms-grid-column-align: start;
      justify-self: start;
}

.donation__container p {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.donation__container a {
  background-color: #f8184e;
  color: #fff;
  padding: 0.5rem 1rem;
  display: block;
  text-align: center;
  border-radius: 0.625rem;
  cursor: pointer;
}

.donation__container .donation__container__box1,
.donation__container .donation__container__box2,
.donation__container .donation__container__box3 {
  border: 1px solid #000;
  padding: 4rem;
  border-radius: 0.625rem;
}

.donation .detail-box {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.donation .detail-box .container {
  background-color: #fff;
  height: 300px;
  width: 600px;
  border-radius: 0.625rem;
  position: absolute;
  padding: 1rem;
}

.donation .detail-box .container h6 {
  text-transform: uppercase;
  padding: 1rem 1.25rem;
  width: 600px;
}

.donation .detail-box .container h6 span {
  border-bottom: 1px solid #000;
}

.donation .detail-box .container a i {
  position: absolute;
  top: 15px;
  right: 20px;
  font-weight: 700;
  font-size: 1.5rem;
  color: #f8184e;
  cursor: pointer;
}

.donation .detail-box .container .detail-container {
  height: 70%;
  width: 90%;
  z-index: 105;
  position: absolute;
  top: 50px;
  left: 20px;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr ;
      grid-template-columns: 1fr 1fr ;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 'detail-container_one detail-container_four ' 'detail-container_two  detail-container_five' ' detail-container_three .';
}

.donation .detail-box .container .detail-container_one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: detail-container_one;
}

.donation .detail-box .container .detail-container_two {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: detail-container_two;
}

.donation .detail-box .container .detail-container_three {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: detail-container_three;
}

.donation .detail-box .container .detail-container_four {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: detail-container_four;
}

.donation .detail-box .container .detail-container_five {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: detail-container_five;
}

.donation .detail-box .container .detail-container_one label, .donation .detail-box .container .detail-container_two label, .donation .detail-box .container .detail-container_three label, .donation .detail-box .container .detail-container_four label, .donation .detail-box .container .detail-container_five label {
  font-size: 0.75rem;
  line-height: 1.6;
}

.donation .detail-box.active {
  opacity: 1;
  visibility: visible;
}

.donation__image {
  overflow: hidden;
  margin-bottom: 2rem;
}

.donation__image img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    min-height: 5vh;
  }
  .about-us {
    padding: 6.375rem 10rem 3.688rem 10rem;
  }
  .about-us__vision {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .about-us__vision .img {
    width: 50%;
    margin-bottom: 1.25rem;
  }
  .about-us__vision .vision-content {
    width: 50%;
  }
  .about-us__vision .vision-content p {
    width: 40ch;
  }
  .about-us__mission {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .about-us__mission .img {
    width: 50%;
    margin-bottom: 1.25rem;
  }
  .about-us__mission .mission-content {
    width: 50%;
  }
  .about-us__mission .mission-content p {
    width: 40ch;
  }
  .programs {
    padding: 6.375rem 8rem 3.688rem 8rem;
  }
  .programs__tour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .programs__tour .tour-content p {
    width: 40ch;
  }
  .contacts__form .contacts__form__one {
    width: 100%;
  }
  .contacts__form .contacts__form__one .infos {
    width: 80%;
  }
  .contacts__form .contacts__form__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .contacts__form .contacts__form__two form {
    width: 100%;
  }
  .programs_info {
    padding: 3rem 5rem;
  }
  .donation__container {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 100%;
  }
  .donation__container p {
    font-size: 0.99rem;
  }
  .donation__container__title {
    padding-left: 5.5rem;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.8fr 0.5fr 1fr;
        grid-template-columns: 0.8fr 0.5fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'footer__logo footer__links footer__buttons';
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

@media only screen and (max-width: 991px) {
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 5fr 1fr;
        grid-template-columns: 2fr 5fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'logo navlink donation';
    grid-column-gap: 1.5rem;
  }
  .about-us {
    padding: 2rem 5rem;
  }
  .about-us__vision .vision-content {
    width: 50%;
  }
  .about-us__vision .vision-content p {
    width: 40ch;
  }
  .about-us__mission .mission-content {
    width: 50%;
  }
  .about-us__mission .mission-content p {
    width: 40ch;
  }
  .programs {
    padding: 2rem 5rem;
  }
  .programs__tour .tour-content p {
    width: 50ch;
  }
  .classes {
    padding: 2rem 5rem;
  }
  .contacts {
    padding-top: 2rem;
  }
  .donation {
    margin-top: 2rem;
  }
  .donation__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.8fr 0.8fr 0.8fr;
        grid-template-columns: 0.8fr 0.8fr 0.8fr;
    -ms-grid-rows: 0.2fr 0.8fr;
        grid-template-rows: 0.2fr 0.8fr;
        grid-template-areas: 'donation__container__title donation__container__title donation__container__title' 'donation__container__box1 donation__container__box2 donation__container__box3';
  }
  .donation__container .donation__container__box1,
  .donation__container .donation__container__box2,
  .donation__container .donation__container__box3 {
    padding: 3rem;
  }
  .donation__container__title {
    padding-left: 3.5rem;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.4fr 0.4fr 1fr;
        grid-template-columns: 0.4fr 0.4fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'footer__logo footer__links footer__buttons';
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .navbar__list {
    display: none;
    background-color: #052c65;
    background-color: rgba(5, 44, 101, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 0vw;
    height: 100vh;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 1000;
  }
  .navbar__list i {
    display: block;
  }
  .navbar__items a {
    font-size: 2.125rem;
    line-height: 2;
  }
  .navbar__links .togglemenu {
    display: block;
  }
  .about-us {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.2fr 0.8fr 0.8fr;
        grid-template-rows: 0.2fr 0.8fr 0.8fr;
        grid-template-areas: 'about-us__intro' 'about-us__vision' 'about-us__mission';
    row-gap: 2rem;
  }
  .about-us__vision {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .about-us__vision .img {
    width: 100%;
  }
  .about-us__vision .vision-content {
    width: 100%;
    margin-left: 0;
  }
  .about-us__vision .vision-content p {
    width: auto;
  }
  .about-us__mission {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .about-us__mission .img {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-us__mission .mission-content {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
  }
  .about-us__mission .mission-content p {
    width: auto;
  }
  .programs__tour {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8rem;
  }
  .programs__tour:nth-child(odd) .img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .programs__tour:nth-child(odd) .tour-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
    margin-left: 0;
  }
  .programs .img {
    width: 100%;
    margin-bottom: 1rem;
  }
  .programs .tour-content {
    width: 100%;
    margin-left: 0;
  }
  .programs .tour-content p {
    width: auto;
  }
  .contacts__form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.8fr 1fr;
        grid-template-rows: 0.8fr 1fr;
        grid-template-areas: 'contacts__form__one' 'contacts__form__two';
    row-gap: 2rem;
  }
  .contacts__form .contacts__form__one .infos {
    padding: 2rem;
  }
  .footer {
    padding: 0rem 3.75rem;
  }
  .footer__buttons .subscribe {
    margin-bottom: 0.8rem;
  }
  .footer__buttons .subscribe h6 {
    margin-top: 1rem;
  }
  .footer__buttons .subscribe input[type="submit"] {
    margin-top: 0.5rem;
  }
  .footer .copyright {
    padding: 0.3rem 0rem;
  }
}

@media only screen and (max-width: 665px) {
  .contacts__form .contacts__form__one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__form .contacts__form__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.2fr 0.2fr 0.5fr;
        grid-template-rows: 0.2fr 0.2fr 0.5fr;
        grid-template-areas: 'footer__logo' 'footer__links' 'footer__buttons';
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1rem;
  }
  .footer__logo img {
    height: 150px;
    width: 150px;
  }
  .footer__links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__links::before {
    width: 0;
    height: 0;
  }
  .footer__links a {
    color: #fff;
    line-height: 1.8;
    margin: 0 1rem;
  }
  .footer__buttons .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__buttons .subscribe h6 {
    text-align: center;
  }
  .footer__buttons .subscribe input[type="email"] {
    width: 100%;
  }
  .footer__buttons .subscribe input[type="submit"] {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media only screen and (max-width: 520px) {
  .contacts {
    padding: 1rem;
  }
  .classes {
    padding: 1rem;
  }
  .programs {
    padding: 1rem;
  }
  .programs__tour {
    margin-bottom: 3rem;
  }
  .programs_info {
    padding: 1.5rem;
  }
  .about-us {
    padding: 1rem;
  }
}

@media only screen and (max-width: 540px) {
  .programs_info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 50px 1fr auto;
        grid-template-rows: 50px 1fr auto;
        grid-template-areas: 'programs_info__intro' 'programs_info__image' 'programs_info__description';
  }
  .programs_info__intro h4 {
    font-size: 1.5rem;
  }
  .programs_info__image {
    margin-bottom: 1rem;
  }
}

.mainContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(160px,150px) auto;
      grid-template-columns: minmax(160px,150px) auto;
  -ms-grid-rows: 10vh auto;
      grid-template-rows: 10vh auto;
      grid-template-areas: 'head head''sideNav body_content';
}

.mainContainer-edit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(160px,150px) auto;
      grid-template-columns: minmax(160px,150px) auto;
  -ms-grid-rows: 10vh auto;
      grid-template-rows: 10vh auto;
      grid-template-areas: 'head head''sideNav body_content-edit';
}

.page-container {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: body_content;
}

.page-container-edit {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: body_content-edit;
}

.side-nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sideNav;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: head;
}

.header {
  position: fixed;
  background: #052C65;
  box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  height: 10vh;
  border-bottom: 1px solid #052C65;
  top: 0px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  z-index: 5;
}

.header .logo {
  height: 10vh;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

.header .logo > a {
  height: 10vh;
  display: block;
  text-align: center;
  width: 160px;
}

.header-img {
  height: 10vh;
}

.nav-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.side-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
  background-color: white;
  min-height: 90vh;
  box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

.side-nav-menu {
  position: fixed;
}

.side-nav-menu li {
  display: block;
  min-width: 12vw;
  height: 30px;
}

.side-nav-menu li:hover {
  height: 30px;
}

.side-nav-menu li a {
  color: #000000;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.side-nav-menu li a:hover, .side-nav-menu li a:focus {
  background-color: rgba(218, 214, 214, 0.575);
  text-decoration: none;
  color: purple;
}

.side-nav-menu li a:hover .icon-holder, .side-nav-menu li a:focus .icon-holder {
  color: purple;
}

.side-nav-menu li a.dropdown-toggle:after {
  display: none;
}

.side-nav-menu > li > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 10px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.icon-holder {
  margin-right: 10px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  position: relative;
  left: 0;
  font-size: 17px;
  border-radius: 6px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.page-container {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

.page-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(342px,0.56fr) 1fr;
      grid-template-columns: minmax(342px,0.56fr) 1fr;
  -ms-grid-rows: minmax(100px,0fr) auto;
      grid-template-rows: minmax(100px,0fr) auto;
      grid-template-areas: 'page-header page-header''container-add container-list';
}

.page-container-edit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: minmax(100px,0fr) auto;
      grid-template-rows: minmax(100px,0fr) auto;
      grid-template-areas: 'page-header''container-edit';
}

.page-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: page-header;
}

.container-add {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: container-add;
}

.container-list {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: container-list;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-content {
  margin-left: 2.5rem;
}

.header-title {
  display: block;
  font-size: 30px;
  margin-bottom: 0.5rem;
  color: #020202;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  background-color: transparent;
  border-radius: 0.25rem;
}

.breadcrumb-item {
  padding-right: 0.5rem;
}

.breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  content: ">";
}

.breadcrumb-item:hover::before {
  text-decoration: underline;
  text-decoration: none;
}

a.breadcrumb-item {
  color: #72849a;
}

.breadcrumb-item.active {
  color: #53535f;
}

.container-admin {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn-hover {
  border-color: transparent;
}

.btn-hover:hover, .btn-hover:focus, .btn-hover.active {
  background-color: rgba(0, 0, 0, 0.1);
  color: #3f87f5;
  border-color: transparent;
}

.btn-hover.text-primary:hover, .btn-hover.text-primary:focus {
  color: #3f87f5 !important;
}

.col-md {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-md-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-md-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.333333%;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-md-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666667%;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-md-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-md-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-md-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.666667%;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-md-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-md-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.333333%;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-md-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-md-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-md-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.333333%;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-md-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.666667%;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-md-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-b-35 {
  margin-bottom: 35px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-b-45 {
  margin-bottom: 45px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.m-b-55 {
  margin-bottom: 55px !important;
}

.m-b-60 {
  margin-bottom: 60px !important;
}

.m-b-65 {
  margin-bottom: 65px !important;
}

.m-b-70 {
  margin-bottom: 70px !important;
}

.m-b-75 {
  margin-bottom: 75px !important;
}

.m-b-80 {
  margin-bottom: 80px !important;
}

.m-b-85 {
  margin-bottom: 85px !important;
}

.m-b-90 {
  margin-bottom: 90px !important;
}

.m-b-95 {
  margin-bottom: 95px !important;
}

.m-b-100 {
  margin-bottom: 100px !important;
}

.m-b-105 {
  margin-bottom: 105px !important;
}

.m-b-110 {
  margin-bottom: 110px !important;
}

.m-b-115 {
  margin-bottom: 115px !important;
}

.m-b-120 {
  margin-bottom: 120px !important;
}

.m-b-125 {
  margin-bottom: 125px !important;
}

.m-b-130 {
  margin-bottom: 130px !important;
}

.m-b-135 {
  margin-bottom: 135px !important;
}

.m-b-140 {
  margin-bottom: 140px !important;
}

.m-b-145 {
  margin-bottom: 145px !important;
}

.m-b-150 {
  margin-bottom: 150px !important;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,  -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,  -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,  box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,  box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-warning {
  color: #212529;
  background-color: #e0ab09 !important;
  border-color: #ffc107;
}

.btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-warning:focus, .btn-warning.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #dc3545 !important;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.font-weight-semibold {
  font-weight: 500 !important;
}

.color-title {
  color: purple;
}

.buttons-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons-inline input {
  margin-right: 10px;
}

.form-control {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form-group-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10px;
}

.form-group input {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  background-color: white;
  border-bottom: 1px solid black;
  border-radius: 0px;
  justify-items: center;
  color: black;
  vertical-align: middle;
}

textarea {
  height: 150px;
  width: 100%;
  padding-left: 10px;
  background-color: white;
  border-bottom: 1px solid black;
  border-radius: 0px;
  justify-items: center;
  color: black;
  vertical-align: middle;
}

.img-fluid {
  width: 100%;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .mainContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 11vh 10vh auto;
        grid-template-rows: 11vh 10vh auto;
        grid-template-areas: 'head''sideNav''body_content';
  }
  .page-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 0.2fr auto 1fr;
        grid-template-rows: 0.2fr auto 1fr;
        grid-template-areas: 'page-header''container-add''container-list';
  }
  .mainContainer-edit {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 11vh 10vh auto;
        grid-template-rows: 11vh 10vh auto;
        grid-template-areas: 'head''sideNav''body_content-edit';
  }
  .header {
    height: 11vh;
  }
  .header-img {
    height: 11vh;
  }
  .side-nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sideNav;
    display: inline-block;
    min-height: 10vh;
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 11vh;
  }
  .side-nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 100%;
    height: 60px;
  }
  .side-nav-menu > li > a {
    margin-top: 0;
    height: 60px;
    min-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .icon-holder {
    display: none;
  }
}
/*# sourceMappingURL=app.css.map */