// This is the single file output by sass. It is intended to ONLY @import other files.
//fonts
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600&family=Mulish:wght@300;400;500;600&family=Trirong:wght@300;400;500;600&display=swap");
//00 - Reset 
@import "./00-reset/scrollbar";

// 01 - Helpers : Helps you build the project.
@import "./01-helpers/var";
@import "./01-helpers/functions";
@import "./01-helpers/mixins";
@import "./01-helpers/helpers";

// 02 - Tools :
@import "./02-tools/slider";
// 03 - Basics
@import "./03-basics/reset";
@import "./03-basics/base";
@import "./03-basics/form";
@import "./03-basics/button";
@import "./03-basics/links";
@import "./03-basics/selection-colors";
@import "./03-basics/typography";
@import "./03-basics/logo";
@import "./03-basics/avators";

// 04 - Layouts
@import "./04-layouts/layout";
@import "./04-layouts/header";
@import "./04-layouts/navigation";
@import "./04-layouts/siteMainContent";
@import "./04-layouts/siderBar";
@import "./04-layouts/footer";

// 05 - Modules
@import "./05-modules/banner";
@import "./05-modules/calendar";
@import "./05-modules/images";
@import "./05-modules/videos";

// 06 - Pages
@import "./06-pages/home";
@import "./06-pages/about";
@import "./06-pages/contact";
@import "./06-pages/dashboard";
@import "./06-pages/login";
@import "./06-pages/registration";
@import "./06-pages/programs";
@import "./06-pages/programs_info";
@import "./06-pages/classes";
@import "./06-pages/gallery";
@import "./06-pages/mediaquery";
@import "./06-pages/admin";
