.about-us {
  padding: 6.375rem 14.5rem 3.688rem 15.188rem;

  &__intro {
    h4 {
      text-align: center;
      margin-bottom: 2.25rem;
      font-family: $fonts_family_heading;

      span {
        border-bottom: 4px solid $secondary_color;
      }
    }
    p {
      font-size: $font_size_body1;
      margin-bottom: 2.25rem;
      line-height: 1.6rem;
      font-family: $fonts_family_content;
      font-weight: 300;
    }
  }

  &__vision {
    width: 1fr;
    height: 1fr;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .img {
      height: 300px;
      width: 50%;
      margin-bottom: 3.75rem;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: $img-radius;
      }
    }
    .vision-content {
      margin-left: 5.313rem;
      font-size: $font_size_body1;
      line-height: 1.6rem;
      width: 50%;
      h4 {
        font-family: $fonts_family_heading;
        color: $secondary_color;
        text-align: center;
        margin-bottom: 1rem;
      }
      p {
        font-weight: 300;
        width: 56ch;
      }
    }
  }

  &__mission {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    .img {
      height: 300px;
      width: 50%;
      order: 2;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: $img-radius;
      }
    }

    .mission-content {
      width: 50%;
      margin-right: 5.313rem;
      line-height: 1.6rem;
      order: 1;

      h4 {
        text-align: center;
        font-family: $fonts_family_heading;
        color: $secondary_color;
        margin-bottom: 1rem;
      }

      p {
        width: 56ch;
        font-family: $fonts_family_content;
        font-size: $font_size_body1;
        font-weight: 300;
      }
    }
  }
}
