

.mainContainer{
    @include css-grid("minmax(160px,150px) auto","10vh auto","'head head''sideNav body_content'");

}

.mainContainer-home{
    @include css-grid("minmax(160px,150px) auto","10vh auto","'head head''sideNav body_content-home'");

}

.mainContainer-edit{
    @include css-grid("minmax(160px,150px) auto","10vh auto","'head head''sideNav body_content-edit'");
}

    .page-container{
        grid-area:body_content;
    }

    .page-container-home{
        grid-area:body_content-home;
    }

    .page-container-edit{
        grid-area:body_content-edit;
    }

    .side-nav{
        grid-area:sideNav;
    }

    .header{
        grid-area:head;
    }

.header{
    position: fixed;
    background:#052C65;
    box-shadow: 0px 3px 20px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 20px -5px rgba(0,0,0,0.75);
    height:10vh;
    border-bottom:1px solid#052C65;
    top:0px;
    width:100vw;
    display:flex;
    color:white;
    z-index:5;
}
.header .logo{
    height: 10vh;
    transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    -ms-transition:all 0.2s ease
}

.header .logo>a
{
    height:10vh;
    display:block;
    text-align:center;
    width:160px;
}

.header-img{
    height: 10vh;
}

.nav-wrap{
    display:flex;
    flex:1;
    justify-content:flex-end;
    align-items: center;
    margin-right:10px;
}

.side-nav{
    position: sticky;
    top:10vh;
    background-color:rgb(255, 255, 255);
    min-height: 90vh;
    box-shadow: 0px 3px 20px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 20px -5px rgba(0,0,0,0.75);
    transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    -ms-transition:all 0.2s ease;
}
.side-nav-menu{
    position: fixed;
}
.side-nav-menu li{
    max-width: 160px;
    display: block;
    min-width: 160px;
    height: 30px;
}

.side-nav-menu li:hover{
    height: 30px;
}
.side-nav-menu li a{
    color:#000000;
    transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease
}
.side-nav-menu li a:hover,.side-nav-menu li a:focus{
    background-color: rgba(218, 214, 214, 0.575);
    text-decoration:none;
    color:purple
}
.side-nav-menu li a:hover .icon-holder,.side-nav-menu li a:focus .icon-holder{
    color:purple
}
.side-nav-menu li a.dropdown-toggle:after{
    display:none;
}
.side-nav-menu>li>a{
    position:relative;
    display:flex;
    padding: 10px 0 10px 30px;
    align-items: center;
    margin-top: 30px;
}
.icon-holder{
    margin-right: 10px;
    height:25px;
    width:25px;
    line-height:25px;
    text-align:center;
    position:relative;
    left:0;
    font-size:17px;
    border-radius:6px;
    transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease
}



//    ----------------------------        Main BODY      ----------------------------



.page-container{
    transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    -ms-transition:all 0.2s ease
}

.page-container{
    @include css-grid("minmax(342px,0.56fr) 1fr","minmax(100px,0fr) auto","'page-header page-header''container-add container-list'");
}

.page-container-home{
    @include css-grid("minmax(342px,0.56fr) 1fr","minmax(100px,0fr) auto","'page-header-home page-header-home''container-add-home container-list-home'");
}

.page-container-edit{
    @include css-grid("1fr","minmax(100px,0fr) auto","'page-header''container-edit'");
}

.page-header{
    grid-area: page-header;
}

.container-add{
    grid-area: container-add;
}
.container-list{
    grid-area: container-list;
}

.page-header-home{
    grid-area: page-header-home;
}

.container-add-home{
    grid-area: container-add-home;
}

.container-list-home{
    grid-area: container-list-home;
}

.page-header{
    display: flex;
    align-items: center;
}

.page-header-edit, .page-header-home{
    display: flex;
    align-items: center;
}

.text-content{
    margin-left: 2.5rem;
}

.header-title{
    display:block;
    font-size:30px;
    margin-bottom: 0.5rem;
    color:#020202;
}

.breadcrumb{
    display:flex;
    flex-wrap:wrap;
    list-style:none;
    background-color:transparent;
    border-radius:0.25rem;
}

.breadcrumb-item{
    padding-right:0.5rem
}

.breadcrumb-item::before{
    display:inline-block;
    padding-right:0.5rem;
    content:">";
}

.breadcrumb-item:hover::before{
    text-decoration:underline;
    text-decoration:none;
}

a.breadcrumb-item{
    color:#72849a;
}

.breadcrumb-item.active{
    color:#53535f
}

.container-admin{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}


.card{
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,0.125);
    border-radius:0.25rem;
    margin-bottom:1.25rem;
    margin-top:1.25rem;
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out
}

.card-body{
    flex:1 1 auto;
    padding:1rem;
}

.row{
    display:flex;
    flex-wrap:wrap;
}

.row-home{
    display:flex;
    flex-wrap:wrap;
}

.btn-hover{
    border-color:transparent
}
.btn-hover:hover{
    background-color:rgba(0, 0, 0, 0.1);
    color:#3f87f5;
    border-color:transparent
}


.col-md{
    flex-basis:0;
    flex-grow:1;
    max-width:100%;
}
.col-md-auto{flex:0 0 auto;width:auto;max-width:100%}
.col-md-1{flex:0 0 8.333333%;max-width:8.333333%}
.col-md-2{flex:0 0 16.666667%;max-width:16.666667%}
.col-md-3{flex:0 0 25%;max-width:25%}
.col-md-4{flex:0 0 33.333333%;max-width:33.333333%}
.col-md-5{flex:0 0 41.666667%;max-width:41.666667%}
.col-md-6{flex:0 0 50%;max-width:50%}
.col-md-7{flex:0 0 58.333333%;max-width:58.333333%}
.col-md-8{flex:0 0 66.666667%;max-width:66.666667%}
.col-md-9{flex:0 0 75%;max-width:75%}
.col-md-10{flex:0 0 83.333333%;max-width:83.333333%}
.col-md-11{flex:0 0 91.666667%;max-width:91.666667%}
.col-md-12{flex:0 0 100%;max-width:100%}


.m-b-5{margin-bottom:5px !important}
.m-b-10{margin-bottom:10px !important}
.m-b-15{margin-bottom:15px !important}
.m-b-20{margin-bottom:20px !important}
.m-b-25{margin-bottom:25px !important}
.m-b-30{margin-bottom:30px !important}
.m-b-35{margin-bottom:35px !important}
.m-b-40{margin-bottom:40px !important}
.m-b-45{margin-bottom:45px !important}
.m-b-50{margin-bottom:50px !important}
.m-b-55{margin-bottom:55px !important}
.m-b-60{margin-bottom:60px !important}
.m-b-65{margin-bottom:65px !important}
.m-b-70{margin-bottom:70px !important}
.m-b-75{margin-bottom:75px !important}
.m-b-80{margin-bottom:80px !important}
.m-b-85{margin-bottom:85px !important}
.m-b-90{margin-bottom:90px !important}
.m-b-95{margin-bottom:95px !important}
.m-b-100{margin-bottom:100px !important}
.m-b-105{margin-bottom:105px !important}
.m-b-110{margin-bottom:110px !important}
.m-b-115{margin-bottom:115px !important}
.m-b-120{margin-bottom:120px !important}
.m-b-125{margin-bottom:125px !important}
.m-b-130{margin-bottom:130px !important}
.m-b-135{margin-bottom:135px !important}
.m-b-140{margin-bottom:140px !important}
.m-b-145{margin-bottom:145px !important}
.m-b-150{margin-bottom:150px !important}


.btn{
    display:inline-block;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:1px solid transparent;
    padding:0.375rem 0.75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:0.25rem;
    transition:color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out
}


.btn:hover{
    background-color:rgba(0, 0, 0, 0.1);
    color:#3f87f5;
    border-color:transparent
}


.btn-warning{
    color:#212529;
    background-color:#e0ab09 !important;
    border-color:#ffc107
}
.btn-warning:hover{
    color:#212529;
    background-color:#e0a800;
    border-color:#d39e00
}
.btn-warning:focus,.btn-warning.focus{
    box-shadow:0 0 0 0.2rem rgba(222,170,12,0.5)
}
.btn-danger{
    color:#fff;
    background-color:#dc3545 !important;
    border-color:#dc3545
}
.btn-danger:hover{
    color:#fff;
    background-color:#c82333;
    border-color:#bd2130
}
.btn-danger:focus,.btn-danger.focus{
    box-shadow:0 0 0 0.2rem rgba(225,83,97,0.5)
}

.font-weight-semibold{
    font-weight:500 !important
}

.color-title{
    color:purple;
}

.buttons-inline{
    display: flex;
    form{
        margin-left:10px;

    }
    input{
        margin-right:10px;
    }
}


.form-control{
    display:block;
    padding:0.375rem 0.75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:0.25rem;transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group-home{
    display: flex;
    flex-direction:row;
    margin-left:10px;
}

.form-group input{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    background-color: white;
    border-bottom: 1px solid black;
    border-radius: 0px;
    justify-items: center;
    color: black;
    vertical-align: middle;
}
.messagep{
    padding-left: 7px;
    font-size: 17px;
}

textarea{
    height: 150px;
    width: 100%;
    padding-left: 10px;
    background-color: white;
    border-bottom: 1px solid black;
    border-radius: 0px;
    justify-items: center;
    color: black;
    vertical-align: middle;
}

.img-fluid{
    width:100%;
    padding:10px;
}
@media only screen and (min-width: 991px){
p{
    width: 50ch;
}
}

@media only screen and (max-width: 835px){
    .mainContainer{
        @include css-grid("auto","11vh 10vh auto","'head''sideNav''body_content'");
    }

    .mainContainer-home{
        @include css-grid("auto","11vh 10vh auto","'head''sideNav''body_content-home'");
    }

    .page-container{
        @include css-grid("auto","0.2fr auto 1fr","'page-header''container-add''container-list'");
    }

    .page-container-home{
        @include css-grid("auto","0.01fr auto 1fr","'page-header-home''container-add-home''container-list-home'");
    }

    .mainContainer-edit{
        @include css-grid("auto","11vh 10vh auto","'head''sideNav''body_content-edit'");
    }

    .header{
        height:11vh;
    }
    .header-img{
        height:11vh;
    }

    .side-nav{
        grid-area: sideNav;
        display: inline-block;
        min-height: 10vh;
        z-index: 100;
        position: sticky;
        top:11vh;
    }

    .side-nav-menu{
        display: flex;
        flex-direction: row;
        height: 10vh;
        width: 100%;
    }
    .side-nav-menu>li{
        position:sticky;
        min-height: 10vh;
        max-height: 10vh;
        min-width: 10vw;
    }

    .side-nav-menu>li>a{
        margin-top: 0;
        min-height: 10vh;
        max-height: 10vh;
        min-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .page-header ,.page-header-home,.page-header-edit{
        min-height: 20vh;
        max-height: 20vh;
    }

}

@media only screen and (max-width: 678px){

    .side-nav-menu>li{
        min-width: 16vw;
    }

    .side-nav-menu>li>a{
        margin-top: 0;
        height: 60px;
        min-width: 100%;
        padding: 1px;
        justify-content: center;
    }

    .page-header,.page-header-home{
        min-height: 20vh;
        max-height: 20vh;
    }

    .page-header-edit{
        min-height: 20vh;
        max-height: 20vh;
    }

    .icon-holder{
        display: none;
    }

}

@media only screen and (max-width: 430px){

    .side-nav-menu>li{
        min-width: 17vw;
    }

    .side-nav-menu>li>a{
        margin-top: 0;
        height: 60px;
        min-width: 100%;
        padding: 1px;
        justify-content: center;
        font-size: 14px;
    }

    .page-header{
        min-height: 20vh;
        max-height: 20vh;
    }

    .page-header-edit,.page-header-home{
        min-height: 20vh;
        max-height: 20vh;
    }

    .icon-holder{
        display: none;
    }

}

@media only screen and (max-width: 375px){
    .title-nav{
        display: none;
    }
    .icon-holder{
        display: block;
    }
}
