.classes {
  padding: 4.813rem 4.625rem;

  &__intro {
    h4 {
      text-align: center;

      span {
        border-bottom: 4px solid $secondary_color;
      }
    }
  }

  &__tables {
    display: table;
    height: auto;
    width: 100%;
    text-align: center;
    line-height: 3;

    &__th {
      @include css-grid("1fr 1fr 1fr", "1fr", " ");
      overflow: hidden;
      display: table-header-group;

      text-overflow: ellipsis;

      padding: 0 1rem;
    }
    &__tr {
      @include css-grid("1fr 1fr 1fr", "1fr", " ");
      border-radius: $border_radius;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 2px;
    }
    &__td {
      overflow: hidden;
      text-overflow: ellipsis;
      display: table-cell;
      padding: 0 1rem;
    }

    &__tr:nth-child(odd):not(:first-child) {
      background-color: $secondary;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-top: 5px;
    }
    
    &__th:hover,&__td:hover{
      // overflow:visible;
    
      cursor: pointer;
    }
  }
}

.table__tr-color {
  background-color: $primary;
}
