.contacts {
  padding: 4.563rem 6.688rem 0 6.375rem;
  font-family: $fonts_family_content;
  &__intro {
    h4 {
      text-align: center;
      margin-bottom: 2.25rem;

      span {
        border-bottom: 4px solid $secondary_color;
      }
    }
  }
  &__form {
    .contacts__form__one {
      width: 60%;
      h6.title {
        font-size: $font_size_h5;
        font-family: $fonts_family_heading;
        font-style: normal;
        font-weight: bold;
        margin-bottom: 0.875rem;
        text-align: start;
      }

      .infos {
        border-radius: 22px;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
        padding: 4.1rem 3rem 9rem 3rem;
        background-color: #fdfafa;
        i {
          font-size: $font_size_h5;
          font-weight: bold;
          color: $text_on_secondary_light;
        }
        span {
          font-size: $font_size_subtitle1;
          font-family: $fonts_family_content;
          font-style: normal;
          font-weight: 500;
          padding-left: 0.5rem;
          width: 15vw;

          display: inline-block;
        }
        .email,
        .location,
        .phone {
          margin-bottom: 1.5rem;
          word-wrap: break-word;
        }
        .follow {
          margin-top: 2rem;
          text-align: center;
          h6 {
            font-size: $font_size_h6;
            margin-bottom: 0.4rem;
          }
          .fab {
            margin-right: 0.688rem;
            margin-top: 0.5rem;
          }
        }
      }
    }

    .contacts__form__two {
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: 80%;
      h6 {
        font-size: $font_size_h5;
        font-family: $fonts_family_heading;
        font-style: normal;
        font-weight: bold;
        margin-bottom: 0.875rem;
        text-align: start;
      }
      form {
        height: auto;
        border-radius: 22px;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
        padding: 1rem 2.5rem 3.7rem 2.5rem;
        width: 70%;
        background-color: #fdfafa;

        label {
          font-size: 1rem;
          font-family: $fonts_family_heading;

          font-style: normal;
          font-weight: 700;
          line-height: 2;
        }
        input[type="text"],
        input[type="email"] {
          height: 40px;
          width: 100%;
          color: $text_on_secondary_light;
          padding: 0 0.5rem;
          background-color: $label-button;
        }
        textarea {
          height: 100px;
          width: 100%;
          background-color: $label-button;
          color: $text_on_secondary_light;
          padding: 0.2rem 0.5rem;
        }
        input[type="submit"] {
          height: 40px;
          width: 100px;
          float: right;
          background-color: $primary-button;
          margin-top: 1rem;
          font-size: $font_size_button;
          font-weight: 700;
          font-family: $fonts_family_content;
        }
      }
    }
  }
}
.map {
  height: 350px;
  width: 100%;
  background-color: $primary_color_dark;
  z-index: -1;
  position: relative;
  top: -20px;
}
