.donation {
  margin-top: 5rem;
  &__intro {
    h4 {
      text-align: center;
      margin-bottom: 2.25rem;
      font-family: $fonts_family_heading;

      span {
        border-bottom: 4px solid $secondary_color;
      }
    }
  }

  &__image {
    img {
      height: 250px;
      width: 100%;
      object-fit: cover;
      object-position: 0 0;
    }
  }
  &__container {
    margin-bottom: 4rem;
    h6 {
      font-family: $fonts_family_content;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.6);
      font-size: $font_size_body1;
      font-weight: 400;
      justify-self: start;
    }
    p {
      font-size: $font_size_h6;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    a {
      background-color: $secondary_color;
      color: $text_on_primary;
      padding: 0.5rem 1rem;
      display: block;
      text-align: center;
      border-radius: $border_radius;
      cursor: pointer;
    }
    .donation__container__box1,
    .donation__container__box2,
    .donation__container__box3 {
      border: 1px solid $text_on_primary-light;
      padding: 4rem;
      border-radius: $border_radius;
    }
  }

  .detail-box {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;

    .container {
      background-color: #fff;
      height: 300px;
      width: 600px;
      border-radius: $border_radius;
      position: absolute;
      padding: 1rem;

      h6 {
        text-transform: uppercase;
        padding: 1rem 1.25rem;
        width: 600px;

        span {
          border-bottom: 1px solid $text_on_primary-light;
        }
      }
      a {
        i {
          position: absolute;
          top: 15px;
          right: 20px;
          font-weight: 700;
          font-size: 1.5rem;
          color: $secondary_color;
          cursor: pointer;
        }
      }

      .detail-container {
        height: 70%;
        width: 90%;
        z-index: 105;
        position: absolute;
        top: 50px;
        left: 20px;
        padding: 1rem;
        @include css-grid(
          "1fr 1fr ",
          "1fr 1fr 1fr",
          "'detail-container_one detail-container_four ' 'detail-container_two  detail-container_five' ' detail-container_three .'"
        );
        &_one {
          grid-area: detail-container_one;
        }
        &_two {
          grid-area: detail-container_two;
        }
        &_three {
          grid-area: detail-container_three;
        }
        &_four {
          grid-area: detail-container_four;
        }
        &_five {
          grid-area: detail-container_five;
        }
        &_one,
        &_two,
        &_three,
        &_four,
        &_five {
          label {
            font-size: $font_size_caption;
            line-height: 1.6;
          }
        }
      }
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  &__image {
    overflow: hidden;
    margin-bottom: 2rem;

    img {
      height: 250px;
      width: 100%;
      object-fit: cover;
      object-position: 0 0;
    }
  }
}
