@media only screen and (max-width: 1280px) {
  .about-us__mission .mission-content p {
    width: 50ch;
  }

  .programs__tour .tour-content p {
    width: 50ch;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar {
    min-height: 5vh;
  }
  .about-us {
    padding: 6.375rem 10rem 3.688rem 10rem;
    &__vision {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 100%;

      .img {
        width: 50%;
        margin-bottom: 1.25rem;
      }

      .vision-content {
        width: 50%;
        p {
          width: 40ch;
        }
      }
    }
    &__mission {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 100%;

      .img {
        width: 50%;
        margin-bottom: 1.25rem;
      }

      .mission-content {
        width: 50%;
        p {
          width: 40ch;
        }
      }
    }
  }
  .programs {
    padding: 6.375rem 8rem 3.688rem 8rem;
    &__tour {
      display: flex;
      justify-content: start;

      .tour-content {
        p {
          width: 40ch;
        }
      }
    }
  }
  .contacts {
    &__form {
      .contacts__form__one {
        width: 100%;
        .infos {
          width: 80%;
        }
      }
      .contacts__form__two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        form {
          width: 100%;
        }
      }
    }
  }
  .programs_info {
    padding: 3rem 5rem;
  }
  .donation {
    &__container {
      justify-self: center;
      width: 100%;
      p {
        font-size: 0.99rem;
      }
      &__title {
        padding-left: 5.5rem;
      }
    }
  }

  .footer {
    @include css-grid(
      "0.8fr 0.5fr 1fr",
      "1fr",
      "'footer__logo footer__links footer__buttons'"
    );
    column-gap: 2rem;
  }
}

@media only screen and (max-width: 991px) {
  .navbar {
    @include css-grid("2fr 5fr 1fr", "1fr", "'logo navlink donation'");
    grid-column-gap: 1.5rem;
  }

  .about-us {
    padding: 2rem 5rem;

    &__vision {
      .vision-content {
        width: 50%;
        p {
          width: 40ch;
        }
      }
    }
    &__mission {
      .mission-content {
        width: 50%;
        p {
          width: 40ch;
        }
      }
    }
  }
  .programs {
    padding: 2rem 5rem;

    &__tour {
      .tour-content {
        p {
          width: 50ch;
        }
      }
    }
  }
  .classes {
    padding: 2rem 5rem;
  }

  .contacts {
    padding-top: 2rem;

    &__form {
      @include css-grid(
        "1.3fr 1fr",
        "1fr",
        "'contacts__form__one contacts__form__two'"
      );

      .contacts__form__one .infos {
        width: 90%;
      }
    }
  }

  .donation {
    margin-top: 2rem;
    &__container {
      @include css-grid(
        "0.8fr 0.8fr 0.8fr",
        "0.2fr 0.8fr",
        "'donation__container__title donation__container__title donation__container__title' 'donation__container__box1 donation__container__box2 donation__container__box3'"
      );
      .donation__container__box1,
      .donation__container__box2,
      .donation__container__box3 {
        padding: 3rem;
      }
      &__title {
        padding-left: 3.5rem;
      }
    }
  }
  .footer {
    @include css-grid(
      "0.4fr 0.4fr 1fr",
      "1fr",
      "'footer__logo footer__links footer__buttons'"
    );
    column-gap: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    &__list {
      display: none;
      background-color: rgb(5, 44, 101);
      background-color: rgba(5, 44, 101, 0.9);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 0vw;
      height: 100vh;
      transition: 0.5s;
      overflow-x: hidden;
      z-index: 50;
      i {
        display: block;
      }
    }
    &__items {
      a {
        font-size: $font_size_h4;
        line-height: 2;
      }
    }
    &__links {
      .togglemenu {
        display: block;
      }
    }
  }
  .about-us {
    @include css-grid(
      "1fr",
      "0.2fr 0.8fr 0.8fr",
      "'about-us__intro' 'about-us__vision' 'about-us__mission'"
    );
    row-gap: 2rem;
    &__vision {
      height: auto;
      display: flex;
      flex-direction: column;
      width: 100%;

      .img {
        width: 100%;
      }
      .vision-content {
        width: 100%;
        margin-left: 0;
        p {
          width: auto;
        }
      }
    }
    &__mission {
      height: auto;
      display: flex;
      flex-direction: column;
      width: 100%;

      .img {
        width: 100%;
        order: 1;
      }
      .mission-content {
        width: 100%;
        order: 2;
        margin-right: 0;
        p {
          width: auto;
        }
      }
    }
  }

  .programs {
    &__tour {
      flex-direction: column;
      margin-bottom: 8rem;

      &:nth-child(odd) {
        .img {
          order: 1;
        }
        .tour-content {
          order: 2;
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
    .img {
      width: 100%;
      margin-bottom: 1rem;
    }
    .tour-content {
      width: 100%;
      margin-left: 0;
      p {
        width: auto;
      }
    }
  }

  .contacts {
    &__form {
      @include css-grid(
        "1fr",
        "0.8fr 1fr",
        "'contacts__form__one' 'contacts__form__two'"
      );

      row-gap: 2rem;
      .contacts__form__one .infos {
        padding: 2rem;
      }
    }
  }
  .footer {
    padding: $padding-default;
    &__buttons {
      .subscribe {
        margin-bottom: 0.8rem;
        h6 {
          margin-top: 1rem;
        }
        input[type="submit"] {
          margin-top: 0.5rem;
        }
      }
    }
    .copyright {
      padding: 0.3rem 0rem;
    }
  }
}

@media only screen and (max-width: 665px) {
  .contacts {
    &__form {
      .contacts__form__one {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .contacts__form__two {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }
  .footer {
    @include css-grid(
      "1fr",
      "0.2fr 0.2fr 0.5fr",
      "'footer__logo' 'footer__links' 'footer__buttons'"
    );
    justify-items: center;
    align-items: center;
    row-gap: 1rem;
    &__logo {
      img {
        height: 150px;
        width: 150px;
      }
    }
    &__links {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      &::before {
        width: 0;
        height: 0;
      }
      a {
        color: $text_on_primary;
        line-height: 1.8;
        margin: 0 1rem;
      }
    }
    &__buttons {
      .subscribe {
        display: flex;
        flex-direction: column;
        h6 {
          text-align: center;
        }
        input[type="email"] {
          width: 100%;
        }
        input[type="submit"] {
          align-self: flex-end;
        }
      }
    }
  }
}
@media only screen and (max-width: 520px) {
  .contacts {
    padding: 1rem;
  }
  .classes {
    padding: 1rem;
  }
  .programs {
    padding: 1rem;

    &__tour {
      margin-bottom: 3rem;
    }
  }
  .programs_info {
    padding: 1.5rem;
  }
  .about-us {
    padding: 1rem;
  }
}
@media only screen and (max-width: 540px) {
  .programs_info {
    @include css-grid(
      "auto",
      "50px 1fr auto",
      "'programs_info__intro' 'programs_info__image' 'programs_info__description'"
    );
    &__intro {
      h4 {
        font-size: $font_size_h5;
      }
    }
    &__image {
      margin-bottom: 1rem;
    }
  }
}
