.programs {
  padding: 6.375rem 14.5rem 3.688rem 15.188rem;

  &__intro {
    h4 {
      text-align: center;
      margin-bottom: 2.25rem;
      font-family: $fonts_family_heading;
      text-transform: uppercase;

      span {
        border-bottom: 4px solid $secondary_color;
      }
    }
  }

  &__tour {
    width: 1fr;
    height: 1fr;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &:nth-child(odd) {
      .img {
        order: 2;
      }
      .tour-content {
        order: 1;
        margin-right: 3.938rem;
        margin-left: 0;
      }
    }
    .img {
      height: 300px;
      width: 50%;
      margin-bottom: 3.75rem;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: $img-radius;
      }
    }
    .tour-content {
      height: auto;
      margin-left: 3.938rem;
      width: 50%;
      line-height: 1.6rem;
      display: flex;
      flex-direction: column;

      h5 {
        padding-bottom: $button-padding;
        color: $secondary_color;
        font-family: $fonts_family_heading;
        text-transform: uppercase;
        text-align: center;
      }

      p {
        font-weight: 300;
        width: 56ch;
        font-size: $font_size_body1;
        margin-bottom: 1.25rem;
        font-family: $fonts_family_content;
      }
      a {
        font-size: $font_size_h6;
        background-color: $secondary_color;
        color: $text_on_primary;
        padding: 0.5rem 1rem;
        border-radius: $border_radius;
        align-self: center;
      }
    }
  }
}
