.programs_info {
    padding: 6.375rem 10rem 3.688rem 10rem;
  
    &__intro {
      h4 {
        text-align: center;
        margin-bottom: 2.25rem;
        font-family: $fonts_family_heading;
        text-transform: uppercase;
  
        span {
          border-bottom: 4px solid $secondary_color;
        }
      }
    }
    &__image {
      height: 300px;
      width: 100%;
      margin-bottom: 2rem;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__description {
      height: auto;
      width: 100%;
      p {
        font-weight: $fonts_family_content;
        font-size: $font_size_body1;
        line-height: 1.4;
        font-weight: 400;
      }
    }
  }
  