// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// color
$primary_color: #a0bed9;
$primary_color_light: #d2f1ff;
$primary_color_dark: #2a4a77;

$secondary_color: #f8184e;
$secondary_color_light: #ff607a;
$secondary_color_dark: #bd0027;

$text_on_primary: #fff;
$text_on_secondary: #fff;
$text_on_primary-light: #000;
$text_on_secondary-light: #000;

$tertiary_color: #ff7b54;
$tertiary_color-text: #fff;
$placeholder_color: #4b4b4b;

$edit_color: #079c00;
$delete_color: #ee6969;

//fonts
$fonts_family_heading: "Mulish", sans-serif;
$fonts_family_subheading: "Trirong", serif;
$fonts_family_content: "Heebo", sans-serif;

//default font size
$font_size_h1: 6rem;
$font_size_h2: 3.75rem;
$font_size_h3: 3rem;
$font_size_h4: 2.125rem;
$font_size_h5: 1.5rem;
$font_size_h6: 1.25rem;
$font_size_subtitle1: 1rem;
$font_size_subtitle2: 0.875rem;
$font_size_body1: 1rem;
$font_size_body2: 0.875rem;
$font_size_button: 0.875rem;
$font_size_caption: 0.75rem;
$font_size_overline: 0.625rem;

// default border radius
$border_radius: 0.625rem;
$input_border_radius: 0.4375rem;
$img-radius: 2.188rem;

//default padding
$padding-default: 0rem 3.75rem;
$button-padding: 0.625rem;
$program-bottom-padding: 1.125rem;

//table colors
$primary: #9cd8f3;
$secondary: #d2f1ff;

//button colors
$primary-button: #ff7b54;
$label-button: #e8edf3;
