.slider {
  height: 100vh;
  overflow: hidden;
  .swiper-container {
    height: auto;
    width: 100%;
    .swiper-wrapper {
      .swiper-slide {
        .bg {
          max-height: 100vh;
          height: auto;
          width: 100%;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center center;
          .bg-shadow {
            background: rgba(0, 0, 0, 0.5);
            height: 100vh;
            width: 100%;
          }
        }
      }
    }
  }

  &__img {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__content {
    z-index: 19;
    position: absolute;
    top: 40%;
    left: 8%;

    h2 {
      color: $text_on_primary;
      margin-bottom: 0.8rem;
    }
    h6 {
      color: $text_on_primary;
      margin-bottom: 1.5rem;
    }
    a {
      color: $text_on_primary;
      background: $secondary_color;
      padding: $button-padding;
      line-height: 2rem;
      border-radius: $border-radius;
    }
  }
  &__icons {
    position: absolute;
    z-index: 100;
    left: 8%;
    bottom: 10%;
    display: flex;

    h5 {
      color: $text_on_primary;
    }
    i {
      font-size: 1.5rem;
      color: $text_on_primary;
      margin-left: 0.8rem;
      margin-right: 0.5rem;
    }
  }
}
