* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  max-width: 100vw;
  height: 100vh;
  @include css-grid("auto", "100vh", "'navbar'");
  position: relative;
}
.container-grid_show {
  @include css-grid("auto", "10vh auto auto", "'navbar''about-us' 'footer'");
}
.programs-grid {
  @include css-grid(
    "auto",
    "10vh auto auto",
    "'navbar''programs_info' 'footer'"
  );
}
.container-grid {
  @include css-grid("auto", "10vh auto auto", "'navbar' 'programs' 'footer'");
}
.class-grid {
  @include css-grid("auto", "10vh auto auto", "'navbar' 'classes' 'footer'");
}
.contact-grid {
  @include css-grid(
    "auto",
    "10vh auto auto auto",
    "'navbar' 'contacts' 'map'  'footer'"
  );
}
// .donation-grid {
//   @include css-grid("auto", "10vh auto auto", "'navbar' 'donation' 'footer'");
// }

.navbar {
  position: relative;
  height: 70px;
  z-index: 20;
  grid-area: navbar;
  // @include css-grid("2fr 5fr 1fr", "1fr", "'logo navlink donation'");
  @include css-grid("2fr 5fr", "1fr", "'logo navlink'");
  grid-column-gap: 5.25rem;

  &__logo {
    grid-area: logo;
    justify-self: left;
    align-self: center;
    display: flex;
  }
  &__wrapper {
    grid-area: navlink;
    justify-self: end;
    align-self: center;
  }
  &__donate {
    grid-area: donation;
    justify-self: start;
    align-self: center;
  }
}

.slider {
  grid-area: slider;
  height: 100vh;
  width: 100%;
  position: absolute;
}

.about-us {
  grid-area: about-us;
  @include css-grid(
    "1fr",
    "0.8fr 1fr 1fr",
    "'about-us__intro' 'about-us__vision' 'about-us__mission'"
  );
  max-width: 100vw;
  &__intro {
    grid-area: about-us__intro;
  }
  &__vision {
    grid-area: about-us__vision;
  }
  &__mission {
    grid-area: about-us__mission;
  }
}
.programs {
  grid-area: programs;
  @include css-grid("1fr", " repeat(autofit,minmax(250px,1fr))", " ");
  max-width: 100vw;
  row-gap: 2rem;
}

.classes {
  grid-area: classes;
  @include css-grid("1fr", "75px 1fr ", "'classes__intro' 'tables'");
  max-width: 100vw;

  &__intro {
    grid-area: classes__intro;
    justify-self: center;
  }
  &__tables {
    grid-area: tables;
    justify-self: center;
  }
}

.contacts {
  grid-area: contacts;
  @include css-grid("auto", "75px 1fr", "'contacts__intro' 'contacts__form' ");
  max-width: 100vw;

  &__intro {
    grid-area: contacts__intro;
    justify-self: center;
  }

  &__form {
    grid-area: contacts__form;
    @include css-grid(
      "1fr 1fr",
      "1fr",
      "'contacts__form__one contacts__form__two'"
    );

    &__one {
      grid-area: contacts__form__one;
      justify-self: center;
      align-self: center;
    }
    &__two {
      grid-area: contacts__form__two;
      justify-self: end;
    }
  }
}
.map {
  grid-area: map;
}

.programs_info {
  grid-area: programs_info;
  @include css-grid(
    "auto",
    "75px 1fr auto",
    "'programs_info__intro' 'programs_info__image' 'programs_info__description'"
  );
  max-width: 100vw;

  &__intro {
    grid-area: programs_info__intro;
  }
  &__image {
    grid-area: programs_info__image;
  }
  &__description {
    grid-area: programs_info__description;
  }
}

// .donation {
//   grid-area: donation;
//   @include css-grid(
//     "auto",
//     "0.2fr 250px 1fr",
//     "'donation__intro' 'donation__image' 'donation__container'"
//   );
//   max-width: 100vw;

//   &__intro {
//     grid-area: donation__intro;
//     justify-self: center;
//     align-self: center;
//   }
//   &__container {
//     justify-self: center;
//     grid-area: donation__container;
//     width: 80%;
//     @include css-grid(
//       "1fr 1fr 1fr",
//       "0.2fr 1fr",
//       "'donation__container__title donation__container__title donation__container__title' 'donation__container__box1 donation__container__box2 donation__container__box3'"
//     );

//     &__title {
//       grid-area: donation__container__title;
//       justify-self: start;
//       padding-left: 3.5rem;
//     }
//     &__box1 {
//       grid-area: donation__container__box1;
//       justify-self: center;
//       align-self: center;
//     }
//     &__box2 {
//       grid-area: donation__container__box2;
//       justify-self: center;
//       align-self: center;
//     }
//     &__box3 {
//       grid-area: donation__container__box3;
//       justify-self: center;
//       align-self: center;
//     }
//   }
//   &__image {
//     grid-area: donation__image;
//   }
// }

.footer {
  grid-area: footer;
  @include css-grid(
    "1fr 0.5fr 1fr",
    "1fr",
    "'footer__logo footer__links footer__buttons'"
  );
  column-gap: 4.688rem;
  max-width: 100vw;

  &__logo {
    grid-area: footer__logo;
    justify-self: center;
    align-self: center;
  }
  &__links {
    grid-area: footer__links;
    justify-self: start;
    align-self: center;
  }
  &__buttons {
    grid-area: footer__buttons;
    justify-self: center;
    align-self: center;
  }
}
