button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
  -webkit-appearance: none;
  -webkit-border-radius: $border_radius;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: $border_radius;
  background-color: $secondary_color;
  color: $text_on_secondary;
}
