// forms
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
input[type='date'],
input[type='time'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: 0px;
  outline: none;
  border-radius: $input_border_radius;
  color: $text_on_primary;
  background-color: $primary_color_dark;
  // &:hover {

  // }

  &:focus {
    border: 1px solid $text_on_primary-light;
  }

  @include placeholder {
    color: $placeholder_color;
  }
}

select {
  -webkit-border-radius: 0;
  border: 0px;
  outline: none;
  border-radius: $input_border_radius;
  color: $text_on_primary;
  background-color: $primary_color_dark;
}

textarea {
  resize: vertical;
  vertical-align: top;
  border: 0px;
  outline: none;
  border-radius: $input_border_radius;
  color: $text_on_primary;
  background-color: $primary_color_dark;
}
